@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply min-h-screen bg-slate-100 text-slate-900 antialiased;
    margin: 0;
  }

  #root {
    @apply min-h-screen;
  }
}
